@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to left, #59aaef 50%, #ca91d1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

article {
    width: 200px;
    height: 100%;
    background: rgb(233, 223, 223, 0.5);
    border-radius: 3px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

h2 {
    color: white;
    margin-bottom: 30px;
}

li {
    list-style: none;
    border-bottom: 1px solid grey ;
    margin: 25px;
}

li:nth-last-of-type(1) {
    border: none;
}

p:nth-of-type(even) {
    font-size: 3em;
    margin: 20px;
}

div {
    background: yellow;
    border-radius: 5px;
    line-height: 50px; 
}

@media (max-width: 600px) {
    article {
        font-size: 0.7em;
        overflow: hidden;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    article {
        overflow: hidden;
    }
}